@import url(../css/font.css);

.container-fluid-top {
    width: 100%;
    border-radius: 3rem 3rem 0 0;
    padding: 1.25rem 0;
    color: #0d1218;
    font-family: Timmana;
}

.bg-color1 {
    background-color: #ffd900;
}

.bg-color2 {
    background-color: #0d1218;
}

/* header */
header h2 {
    text-align: center;
    font-size: 2rem;
}

/* main */
.container-fluid {
    width: 100%;
    padding: 1.25rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.input {
    margin: 0 1.5rem;
}

.flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.btn {
    width: 100%;
    height: auto;
    margin: 0.275rem;
    position: relative;
}

input[type=text] { 
    width: 100%;
    color: #f1f1ef;
    background-color: #0d1218;
    border: none;
    font-size: 4rem;
    text-align: right;
    font-family: Timmana;
}

#topbtn {
    color: #31383e;
    background-color: #f1f1ef;
}

input[type=reset], [type=button] { 
    width: 100%;
    padding: 0.85rem;
    color: #f1f1ef;
    background-color: #31383e;
    border-radius: 0.275rem;
    border: none;
    font-size: 1.75rem;
    text-align: center;
    font-family: Timmana;
}

#sidebtn {
    background-color: #ffd900;
    color: #31383e;
}

.btn > i {
    position: absolute;
    font-size: 1.75rem;
    left: 27.5%;
    top: 27.5%;
    color: #31383e;
}

@media (min-width: 992px) {
    .btn > i {
    left: 45%;
    top: 30%;
    }
}

.zero {
    width: 203%;
}


/* footer */
.container-fluid-bottom {
    width: 100%;
    border-radius: 0 0 3rem 3rem;
    padding: 0.25rem 0;
    color: #0d1218;
    font-family: Timmana;
}

footer h6 {
    text-align: center;
    font-size: 1rem;
}

footer a{ 
    color: #31383e;
    text-decoration: none;
}

footer a:hover { 
    color: #0d1218;
}